<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <div class="container">
            <div class="header-section">
                <div class="title text-center mb-3">
                    <h3 class="font-weight-bolder">Product List</h3>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card text-center">
                            <img class="card-img-top" src="https://m.media-amazon.com/images/I/61Lq0UqkrjL._AC_UL480_FMwebp_QL65_.jpg" alt="card image">
                            <div class="card-body">
                                <h5 class="card-title">Price: 634 BDT</h5>
                                <p class="card-text">Master Lock 8143D Combination Bike Lock, 4 ft long, Black</p>
                                <a class="card-link stretched-link" target="_blank" href="https://www.amazon.com/Master-Lock-8143D-Combination-Black/dp/B000BVXDZM/ref=sr_1_25?dchild=1&keywords=amazonbasics&pd_rd_r=a1eb0b9d-ec0b-4e22-99d3-0b43fe47eeab&pd_rd_w=xzEXC&pd_rd_wg=sp5Fe&pf_rd_p=9349ffb9-3aaa-476f-8532-6a4a5c3da3e7&pf_rd_r=GT1TTJM1PYNG258JB0S7&qid=1616836181&sr=8-25"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card text-center">
                            <img class="card-img-top" src="https://m.media-amazon.com/images/I/71K7Q4FpguL._AC_UL480_FMwebp_QL65_.jpg" alt="card image">
                            <div class="card-body">
                                <h5 class="card-title">Price: 3044 BDT</h5>
                                <p class="card-text">Amazon Basics 8-Sheet Capacity, Cross-Cut Paper and Credit Card Shredder, 4.1 Gallon</p>
                                <a class="card-link stretched-link" target="_blank" href="https://www.amazon.com/AmazonBasics-8-Sheet-Cross-Cut-Credit-Shredder/dp/B00YFTHJ9C/ref=sr_1_3?dchild=1&keywords=amazonbasics&pd_rd_r=a1eb0b9d-ec0b-4e22-99d3-0b43fe47eeab&pd_rd_w=xzEXC&pd_rd_wg=sp5Fe&pf_rd_p=9349ffb9-3aaa-476f-8532-6a4a5c3da3e7&pf_rd_r=GT1TTJM1PYNG258JB0S7&qid=1616836999&sr=8-3"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card text-center">
                            <img class="card-img-top" src="https://m.media-amazon.com/images/I/71GUQhGm2aL._AC_UL480_FMwebp_QL65_.jpg" alt="card image">
                            <div class="card-body">
                                <h5 class="card-title">Price: 1268 BDT</h5>
                                <p class="card-text">Amazon Basics Microfiber Sheet Set, Twin, Dark Grey</p>
                                <a class="card-link stretched-link" target="_blank" href="https://www.amazon.com/AmazonBasics-Microfiber-Sheet-Set-Twin/dp/B00Q7OAKV2/ref=sr_1_13?dchild=1&keywords=amazonbasics&pd_rd_r=a1eb0b9d-ec0b-4e22-99d3-0b43fe47eeab&pd_rd_w=xzEXC&pd_rd_wg=sp5Fe&pf_rd_p=9349ffb9-3aaa-476f-8532-6a4a5c3da3e7&pf_rd_r=GT1TTJM1PYNG258JB0S7&qid=1616836999&sr=8-13"></a>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card text-center">
                            <img class="card-img-top" src="https://m.media-amazon.com/images/I/51XgesBWXRL._AC_UL480_FMwebp_QL65_.jpg" alt="card image">
                            <div class="card-body">
                                <h5 class="card-title">Price: 3509 BDT</h5>
                                <p class="card-text">Amazon Basics 18-Piece Kitchen Dinnerware Set, Plates, Dishes, Bowls, Service for 6, Swirl</p>
                                <a class="card-link stretched-link" target="_blank" href="https://www.amazon.com/AmazonBasics-18-Piece-Dinnerware-Set-Service/dp/B07F7SP7PY/ref=sr_1_20?dchild=1&keywords=amazonbasics&pd_rd_r=a1eb0b9d-ec0b-4e22-99d3-0b43fe47eeab&pd_rd_w=xzEXC&pd_rd_wg=sp5Fe&pf_rd_p=9349ffb9-3aaa-476f-8532-6a4a5c3da3e7&pf_rd_r=GT1TTJM1PYNG258JB0S7&qid=1616836999&sr=8-20"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card text-center">
                            <img class="card-img-top" src="https://m.media-amazon.com/images/I/91G5CPWSLZL._AC_UL480_FMwebp_QL65_.jpg" alt="card image">
                            <div class="card-body">
                                <h5 class="card-title">Price: 637 BDT</h5>
                                <p class="card-text">Amazon Basics Gaming Computer Mouse Pad - Black</p>
                                <a class="card-link stretched-link" target="_blank" href="https://www.amazon.com/AmazonBasics-Gaming-Computer-Mouse-Pad/dp/B06X3W3YQD/ref=sr_1_31?dchild=1&keywords=amazonbasics&pd_rd_r=a1eb0b9d-ec0b-4e22-99d3-0b43fe47eeab&pd_rd_w=xzEXC&pd_rd_wg=sp5Fe&pf_rd_p=9349ffb9-3aaa-476f-8532-6a4a5c3da3e7&pf_rd_r=GT1TTJM1PYNG258JB0S7&qid=1616836999&sr=8-31"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card text-center">
                            <img class="card-img-top" src="https://m.media-amazon.com/images/I/51hlZZOBpdL._AC_UL480_FMwebp_QL65_.jpg" alt="card image">
                            <div class="card-body">
                                <h5 class="card-title">Price: 2029 BDT</h5>
                                <p class="card-text">Amazon Basics Slim, Velvet, Non-Slip Clothes Suit Hangers, Black/Silver - Pack of 50</p>
                                <a class="card-link stretched-link" target="_blank" href="https://www.amazon.com/AmazonBasics-Velvet-Suit-Hangers-50-Pack/dp/B00FXNAAW2/ref=sr_1_35?dchild=1&keywords=amazonbasics&pd_rd_r=a1eb0b9d-ec0b-4e22-99d3-0b43fe47eeab&pd_rd_w=xzEXC&pd_rd_wg=sp5Fe&pf_rd_p=9349ffb9-3aaa-476f-8532-6a4a5c3da3e7&pf_rd_r=GT1TTJM1PYNG258JB0S7&qid=1616836999&sr=8-35"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card text-center">
                            <img class="card-img-top" src="https://m.media-amazon.com/images/I/91SCeMhT5eL._AC_UL480_FMwebp_QL65_.jpg" alt="card image">
                            <div class="card-body">
                                <h5 class="card-title">Price: 1690 BDT</h5>
                                <p class="card-text">Amazon Basics Quick-Dry, Luxurious, Soft, 100% Cotton Bath Towels, Platinum - Set of 2</p>
                                <a class="card-link stretched-link" target="_blank" href="https://www.amazon.com/AmazonBasics-Quick-Dry-Bath-Towels-Platinum/dp/B07B6CHRF8/ref=sr_1_46?dchild=1&keywords=amazonbasics&pd_rd_r=a1eb0b9d-ec0b-4e22-99d3-0b43fe47eeab&pd_rd_w=xzEXC&pd_rd_wg=sp5Fe&pf_rd_p=9349ffb9-3aaa-476f-8532-6a4a5c3da3e7&pf_rd_r=GT1TTJM1PYNG258JB0S7&qid=1616836999&sr=8-46"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card text-center">
                            <img class="card-img-top" src="https://m.media-amazon.com/images/I/81Q5DrUyR+L._AC_UL480_FMwebp_QL65_.jpg" alt="card image">
                            <div class="card-body">
                                <h5 class="card-title">Price: 1352 BDT</h5>
                                <p class="card-text">Amazon Basics Fade-Resistant Cotton Washcloths - Pack of 12, Black</p>
                                <a class="card-link stretched-link" target="_blank" href="https://www.amazon.com/AmazonBasics-Quick-Dry-Bath-Towels-Platinum/dp/B07B6CHRF8/ref=sr_1_46?dchild=1&keywords=amazonbasics&pd_rd_r=a1eb0b9d-ec0b-4e22-99d3-0b43fe47eeab&pd_rd_w=xzEXC&pd_rd_wg=sp5Fe&pf_rd_p=9349ffb9-3aaa-476f-8532-6a4a5c3da3e7&pf_rd_r=GT1TTJM1PYNG258JB0S7&qid=1616836999&sr=8-46"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card text-center">
                            <img class="card-img-top" src="https://m.media-amazon.com/images/I/818B-ZI78EL._AC_UL480_FMwebp_QL65_.jpg" alt="card image">
                            <div class="card-body">
                                <h5 class="card-title">Price: 17128 BDT</h5>
                                <p class="card-text">Amazon Basics Mesh Fabric Executive Mid-Back Office Desk Chair, Black</p>
                                <a class="card-link stretched-link" target="_blank" href="https://www.amazon.com/AmazonBasics-Fabric-Executive-Mid-Back-Chair/dp/B072Z6K34L/ref=sr_1_48?dchild=1&keywords=amazonbasics&pd_rd_r=a1eb0b9d-ec0b-4e22-99d3-0b43fe47eeab&pd_rd_w=xzEXC&pd_rd_wg=sp5Fe&pf_rd_p=9349ffb9-3aaa-476f-8532-6a4a5c3da3e7&pf_rd_r=GT1TTJM1PYNG258JB0S7&qid=1616836999&sr=8-48"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card text-center">
                            <img class="card-img-top" src="https://m.media-amazon.com/images/I/81jQ2Hy1eEL._AC_UL480_FMwebp_QL65_.jpg" alt="card image">
                            <div class="card-body">
                                <h5 class="card-title">Price: 17128 BDT</h5>
                                <p class="card-text">Amazon Basics Banded Bathroom Bath Rug Mat - 20 x 31 Inch, Midnight Black</p>
                                <a class="card-link stretched-link" target="_blank" href="https://www.amazon.com/Amazon-Basics-Banded-Bathroom-Bath/dp/B08FXMJY2K/ref=sr_1_51?dchild=1&keywords=amazonbasics&pd_rd_r=a1eb0b9d-ec0b-4e22-99d3-0b43fe47eeab&pd_rd_w=xzEXC&pd_rd_wg=sp5Fe&pf_rd_p=9349ffb9-3aaa-476f-8532-6a4a5c3da3e7&pf_rd_r=GT1TTJM1PYNG258JB0S7&qid=1616836999&sr=8-51"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>


    <!-- bootstrap js, jquery, popper -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>